.notas__totales{
    width: 100%;
    overflow: auto;

}
.nota__individual{
    background: white;
    width: 90%;
    display: block;
    margin: 0.5rem auto;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
    gap: 0.5rem;

    &:hover{
        background: $color3;
    }
}


.nota__main-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nota__ingresar{
    flex: 0 0 50%;
}

.nota__cuerpo, .nota__titulo{
    width: 80%;
    display: block;
    margin: 1rem auto;
    font-size: 1.6rem;
    color: black;
    border: none;
    outline: none;
    font-weight: lighter;

}
.nota__cuerpo{
    height: 70vh;
    font-size: 1.3rem;
}

.journal__nota-no{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 2rem;
}
.notano__title{
    border-bottom: 1px solid $color1;
    padding: 1rem;
    
}
.nota__imagen{
    width: 75px;
    height: 75px;
}
.nota__imagen-content{
    width: 10%;
}
.imagen__principal{
    width: 200px;
}